@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "antd/dist/antd.css";
@import "./colors.scss";
@import "./spacing.scss";
@import "./typography.scss";
@import "./buttons.scss";
@import "./home.view.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  color: $grey;
  line-height: 1.3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
ul,
ol,
dl,
dir,
menu,
blockquote,
dd,
fieldset {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #6e7375;
}

::-webkit-scrollbar-thumb:hover {
  background: $green;
}
