//COLORS
.white_text {
  color: $white;
}
.green_text {
  color: $green;
}

//SIZES
.large_text {
  font-size: 5rem;
}

//WEIGHTS
.text_900 {
  font-weight: 900;
}
.text_700 {
  font-weight: 700;
}
.text_500 {
  font-weight: 500;
}
.text_400 {
  font-weight: 400;
}
.text_300 {
  font-weight: 300;
}
.text_100 {
  font-weight: 100;
}
